<footer class="text-center mt-5 py-3">
  <div class="social-links mb-2">
    <a href="mailto:horvathz@saskpolytech.ca" title="Work Email">
      <img src="../assets/img/buttons/isabelle.png" alt="Work Email Icon" class="social-icon">
    </a>
    <a href="mailto:hackzorvath@gmail.com" title="Personal Email">
      <img src="../assets/img/buttons/jack.png" alt="Personal Email Icon" class="social-icon">
    </a>
    <a href="https://github.com/" target="_blank" title="GitHub">
      <img src="../assets/img/buttons/octavian.png" alt="GitHub Icon" class="social-icon">
    </a>
    <a href="https://itch.io/" target="_blank" title="Itch.io">
      <img src="../assets/img/buttons/celeste.png" alt="Itch.io Icon" class="social-icon">
    </a>
    <a href="https://store.steampowered.com/" target="_blank" title="Steam">
      <img src="../assets/img/buttons/redd.png" alt="Steam Icon" class="social-icon">
    </a>
    <a href="https://www.youtube.com/" target="_blank" title="YouTube">
      <img src="../assets/img/buttons/kk_slider.png" alt="YouTube Icon" class="social-icon">
    </a>
    <a href="https://www.instagram.com/" target="_blank" title="Instagram">
      <img src="../assets/img/buttons/kicks.png" alt="Instagram Icon" class="social-icon">
    </a>
    <a href="https://discord.gg/" target="_blank" title="Discord">
      <img src="../assets/img/buttons/tom_nook.png" alt="Discord Icon" class="social-icon">
    </a>
    <a href="https://ko-fi.com/" target="_blank" title="Ko-fi">
      <img src="../assets/img/buttons/brewster.png" alt="Ko-fi Icon" class="social-icon">
    </a>
  </div>
  <small class="opacity-75">© 2025 Mad Jack - All mirth reserved.</small>
</footer>
